.fade-enter-active, .fade-leave-active {
    -webkit-transition: opacity .256s;
    transition: opacity .256s
}

@media (max-width: 1000px) {
    .fade-enter-active, .fade-leave-active {
        -webkit-transition: none;
        transition: none
    }
}

.fade-enter, .fade-leave-to {
    opacity: 0
}

.constructor {
    background-color: #e6e6e8;
    position: relative;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    border-radius: 3px;
    border: 1px solid hsla(0, 0%, 50.2%, .3)
}

@media (max-width: 1000px) {
    .constructor {
        background: #fff;
        margin: 0 -20px
    }
}

.constructor .gray {
    color: #878787
}

.constructor__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 1000px) {
    .constructor__wrapper {
        display: block
    }
}

.constructor__side {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 210px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

@media (max-width: 1000px) {
    .constructor__side {
        max-width: none
    }
}

.constructor__colors {
    background: #fbfafa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    z-index: 99;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden
}

.constructor__colors::-webkit-scrollbar {
    width: 3px;
    height: 3px
}

.constructor__colors::-webkit-scrollbar-button {
    width: 0;
    height: 0
}

.constructor__colors::-webkit-scrollbar-thumb {
    background: #3e2ff2;
    border: 0 none #fff;
    border-radius: 50px
}

.constructor__colors::-webkit-scrollbar-thumb:active, .constructor__colors::-webkit-scrollbar-thumb:hover {
    background: #3e2ff2
}

.constructor__colors::-webkit-scrollbar-track {
    background: #666;
    border: 0 none #fff;
    border-radius: 50px
}

.constructor__colors::-webkit-scrollbar-track:hover {
    background: #666
}

.constructor__colors::-webkit-scrollbar-track:active {
    background: #333
}

.constructor__colors::-webkit-scrollbar-corner {
    background: transparent
}

@media (max-width: 1000px) {
    .constructor__colors {
        width: auto
    }
}

.constructor__menu {
    padding-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px
}

@media (max-width: 1000px) {
    .constructor__menu {
        width: auto;
        background-color: #eee;
        padding-bottom: 0
    }
}

@media (max-width: 1000px) {
    .constructor__menu-main {
        display: none
    }
}

.constructor__menu-main_mobile {
    display: none;
    padding-top: 15px;
    border-top: 1px solid;
    padding-bottom: 15px
}

@media (max-width: 1000px) {
    .constructor__menu-main_mobile {
        display: block
    }
}

.constructor__menu-side {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9de;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px
}

@media (max-width: 1000px) {
    .constructor__menu-side {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none
    }
}

.constructor__cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 1000px) {
    .constructor__cols {
        display: block
    }
}

.constructor__cols-item {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.constructor__cols-item_main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

@media (max-width: 1000px) {
    .constructor__cols-item_main {
        position: static
    }
}

.constructor__cols-item_side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

@media (max-width: 1000px) {
    .constructor__cols-item_side {
        padding-top: 5px;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0
    }
}

.constructor__main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

@media (max-width: 1000px) {
    .constructor__main {
        max-width: 810px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px
    }
}

.constructor__image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.constructor__image-main {
    opacity: 0;
    display: block;
    max-width: 100%
}

.constructor__images, .constructor__images-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.constructor__images-item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0
}

.constructor__images-item_active {
    opacity: 1;
    z-index: 20
}

.constructor.is-loaded:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 250;
    background-color: #e6e6e8
}

.constructor.is-loaded:after {
    z-index: 300;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 8px solid #1818cc;
    border-left: 8px solid hsla(0, 0%, 100%, 0);
    -webkit-animation: loaded .8s linear infinite;
    animation: loaded .8s linear infinite
}

.constructor-options__side {
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width: 1000px) {
    .constructor-options__side {
        padding-top: 15px;
        margin-bottom: 15px
    }
}

.constructor-options__title {
    font-size: 18px;
    font-weight: 700
}

@media (max-width: 1000px) {
    .constructor-options__title {
        padding-left: 20px
    }
}

@media (max-width: 1000px) {
    .constructor-options__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        padding-left: 8px
    }
}

@media (max-width: 1000px) {
    .constructor-options__list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

.constructor-options__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px
}

@media (max-width: 1000px) {
    .constructor-options__item {
        margin-left: 0;
        margin-right: 0;
        padding: 10px 10px
    }
}

.constructor-options__item:hover {
    opacity: .8
}

@media (max-width: 1000px) {
    .constructor-options__item:hover {
        opacity: 1
    }
}

.constructor-options__item:last-child {
    margin-bottom: 0
}

.constructor-options__item-title {
    display: inline;
    font-weight: 500;
    border-bottom: 1px dashed #e3e3e7
}

.constructor-options__item-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 30px;
    margin-right: 5px
}

.constructor-options__item-main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.constructor-options__item-icon {
    width: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.constructor-options__item-icon img {
    max-width: 100%;
    display: block
}

.constructor-options__item_active {
    background: #fbfafa
}

.constructor-selected__side {
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.constructor-selected__title {
    font-size: 18px;
    font-weight: 700
}

@media (max-width: 1000px) {
    .constructor-selected__title {
        padding-left: 20px
    }
}

@media (max-width: 1000px) {
    .constructor-selected__list {
        padding-left: 8px
    }
}

.constructor-selected__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px
}

.constructor-selected__item:last-child {
    margin-bottom: 0
}

.constructor-selected__item-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 30px;
    margin-right: 5px
}

.constructor-selected__item-main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.constructor-selected__item-title {
    font-weight: 500;
    font-size: 15px
}

.constructor-selected__item-icon {
    width: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.constructor-selected__item-icon img {
    max-width: 100%;
    display: block
}

@media (max-width: 1000px) {
    .constructor-selected__item {
        margin-left: 0;
        margin-right: 0;
        padding: 5px 10px
    }
}

.constructor-colors__toggle {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.constructor-colors__toggle-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: hsla(0, 0%, 100%, 0);
    border: none;
    outline: none;
    cursor: pointer
}

.constructor-colors__toggle-btn:hover {
    opacity: .8
}

@media (max-width: 1000px) {
    .constructor-colors__toggle-btn:hover {
        opacity: 1
    }
}

.constructor-colors__list {
    -webkit-transition: .3s ease;
    transition: .3s ease
}

@media (max-width: 1000px) {
    .constructor-colors__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch
    }

    .constructor-colors__list:after {
        content: "";
        width: 20px;
        display: block;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

.constructor-colors__list-item {
    margin-bottom: 15px
}

.constructor-colors__list-item:last-child {
    margin-bottom: 0
}

@media (max-width: 1000px) {
    .constructor-colors__list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-right: 10px;
        margin-left: 10px
    }
}

.constructor-colors__item {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.constructor-colors__item:hover {
    opacity: .8
}

.constructor-colors__item:hover .constructor-colors__item-icon {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.constructor-colors__item-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px
}

.constructor-colors__item-icon {
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.constructor-colors__item-icon img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid hsla(0, 0%, 100%, 0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.constructor-colors__item-title {
    text-align: center;
    font-size: 14px
}

@media (max-width: 1000px) {
    .constructor-colors__item-title {
        max-width: 100px;
        margin: 0 auto
    }
}

.constructor-colors__item_active .constructor-colors__item-icon img {
    border: 2px solid #fff
}

@-webkit-keyframes loaded {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0)
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn)
    }
}

@keyframes loaded {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0)
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn)
    }
}