@media (min-width: 1300px) {  
a.billboards__slider-img.fixes{height:580px;}
}
div.card-shadow__badge.blue{background-image: linear-gradient(to top, #9de5f7, #63c5ec);}
div.card-shadow:hover{
transform: translateY(-3px);
opacity: 0.8;
}
div.info-caption__title h2{line-height:1;}
div.schema__title-caption h2{line-height:1;}